html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/* Carousel */
.carousel {
  max-width: 100%;
  position: relative;
  margin: auto;

  .main-img, .slide-img {
    display: none;
  }

  .next, .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: top;
    -webkit-box-shadow: 3px -5px 103px -28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px -5px 103px -28px rgba(0, 0, 0, 0.75);
    box-shadow: 3px -5px 103px -28px rgba(0, 0, 0, 0.75);
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}


/* Tabs */
.tab {
  width: 100%;
  margin-top: 2rem;

  .tabDetails {
    color: #000000;
    height: 100%;

    h1 {
      text-align: center;
    }

    .email, .date, .address {
      display: flex;
      justify-content: center;
    }
    a {
      text-decoration: none;
      font
    }
  }

  .tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .tabLinks {
    background-color: #4be3e3;
    float: left;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    text-align: center;

  }

  .tabLinks:hover {
    background-color: #777;
  }


  .tabInfo {
    display: flex;
  }

  .email > a,
  .address > a,
  .date > a {
    display: flex;
  }


  .register {
    width: 30%;
    margin: 0;
    margin-left: 30rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .register input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4be3e3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

}


/* counter */
.counter {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .counter-container {
    width: 10rem;
    background-color: #c5dede;
    text-align: center;
    box-shadow: 1px 0px 31px -8px rgba(0, 0, 0, 0.75);
  }

}




